.header .header-inner {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.01);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header .header-inner:hover {
  background-color: #fff;
}

.header .header-inner:hover .header-inner-left-item > a,
.header .header-inner:hover .header-inner-right ul a {
  color: #000000;
}

.header .header-inner-left {
  display: flex;
}

.header .header-inner-left img {
  width: 70px;
  height: 40px;
  margin-right: 48px;
}

.header .header-inner-left ul {
  display: flex;
  align-items: center;
}

.header .header-inner-left ul .header-inner-left-item {
  opacity: 0.8;
  padding: 16px 10px;
  position: relative;
}

.header .header-inner-left ul .header-inner-left-item:hover .hide {
  opacity: 1;
  transform: translateY(-16px);
}

.header .header-inner-left ul .header-inner-left-item > a,
.header .header-inner-right ul a {
  color: #ffffff;
  opacity: 1;
}

.header-inner .header-inner-left-item .hide {
  display: block;
  position: absolute;
  top: 70px;
  background-color: #ffffff;
  padding: 24px 0;
  font-weight: 600;
  font-size: 0.9rem;
  border-top: 2px solid #000;
  opacity: 0;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translateY(16px);
}

.header-inner .header-inner-left-item .hide li {
  padding: 10px 48px;
}

.header-inner .header-inner-left-item .hide li a {
  position: relative;
  padding: 4px 0;
}

.header-inner .header-inner-left-item .hide li a:hover {
  color: #cfa167;
}

.header-inner .header-inner-left-item .hide li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  border-bottom: 2px solid #000;
}

.header-inner .header-inner-left-item .hide li a:hover:after {
  width: 100%;
  opacity: 1;
}

.header .header-inner-left ul .header-inner-left-item i {
  margin-left: 5px;
}

.header .header-inner-right {
  display: flex;
  align-items: center;
}

.header .header-inner-right a:first-child {
  margin-right: 48px;
}

.header .header-inner-right a:first-child:hover {
  opacity: 0.5;
}
