.container {
  display: flex;
}

.right_container {
  background-image: url(../images/main_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.right_container h4 {
  font-size: 50px;
  line-height: 64px;
  color: #fff;
  padding: 0 10px 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.right_container p {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.right_container button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  padding: 10px 27px 10px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #52b765;
  border: 1px solid #52b765;
}
